{% extends base_template %}

{% load materials_tags %}

{% block body %}
  <div class="card card-default">
    <div class="card-header">
      <h4>Add Data</h4>
    </div>
    <div class="card-body">
      <!-- ADD NEW REFERENCE -->
      <div id="new-reference-card" class="card mt-3 new-entry-card" hidden="true">
        <div class="card-header">
          Add new reference
        </div>
        <div class="card-body">
          <form id="reference-form" method="post">
            <div class="card authors-card">
              <div class="card-header">
                Authors
              </div>
              <div class="card-body">
                <div class="form-row">
                  <div class="col-md-3 mb-3">
                    <label for="fixed_property">First name</label>
                    <div id="first-names">
                      <input type="text" class="form-control" hidden="true">
                    </div>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="fixed_unit">Last name</label>
                    <div id="last-names">
                      <input type="text" class="form-control" hidden="true">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="fixed_value">Institution</label>
                    <div id="institutions">
                      <div class="input-group" hidden="true">
                        <input type="text" class="form-control">
                        <div class="input-group-append">
                          <button class="btn btn-danger fa fa-times" type="button" ></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="float-right">
                  <button id="add-more-authors-btn" class="btn btn-info" type="button">
                    Add more authors
                  </button>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                {% input_field reference_form.title %}
              </div>
              <div class="form-group col-md-6">
                {% input_field reference_form.journal %}
              </div>
              <div class="form-group col-md-6">
                {% input_field reference_form.vol %}
              </div>
              <div class="form-group col-md-6">
                {% input_field reference_form.pages_start %}
              </div>
              <div class="form-group col-md-6">
                {% input_field reference_form.pages_end %}
              </div>
              <div class="form-group col-md-6">
                {% input_field reference_form.year %}
              </div>
              <div class="form-group col-md-6">
                {% input_field reference_form.doi_isbn %}
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>

      <!-- ADD NEW SYSTEM -->
      <div id="new-system-card" class="card mt-3 new-entry-card" hidden="true">
        <div class="card-header">
          Add new system
        </div>
        <div class="card-body">
          <form id="system-form" method="post">
            <div class="form-row">
              <div class="form-group col-md-6">
                {% input_field system_form.compound_name %}
              </div>
              <div class="form-group col-md-6">
                {% input_field system_form.formula %}
              </div>
              <div class="form-group col-md-6">
                {% input_field system_form.organic %}
              </div>
              <div class="form-group col-md-6">
                {% input_field system_form.inorganic %}
              </div>
              <div class="form-group col-md-6">
                {% input_field system_form.group %}
              </div>
              <div class="form-group col-md-6">
                {% input_field system_form.description %}
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>

      <!-- ADD NEW PROPERTY -->
      <div id="new-property-card" class="card mt-3 new-entry-card new-entry-card2" hidden="true">
        <div class="card-header">
          Add new property
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <form id="property-form" method="post">
                {{ property_form.name.label_tag }}
                {{ property_form.name.help_text|tooltip }}
                <div class="input-group">
                  {{ property_form.name }}
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Add</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- ADD NEW UNIT -->
      <div id="new-unit-card" class="card mt-3 new-entry-card" hidden="true">
        <div class="card-header">
          Add new unit
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <form id="unit-form" method="post">
                {{ unit_form.label.label_tag }}
                {{ unit_form.label.help_text|tooltip }}
                <div class="input-group">
                  {{ unit_form.label }}
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Add</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- ADD NEW RESULTS -->
      <div class="tab-pane show active" id="results" role="tabpanel">
        <form method="post" action="{% url 'materials:submit_data' %}"
              enctype="multipart/form-data">
          {% csrf_token %}
          <!-- GENERAL -->
          <div class="card card-item">
            <div class="card-header">
              General
            </div>
            <div class="card-body card-add-data">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <div class="input-group">
                    <div class="mt-2 mr-2">
                      <label for="prefill" class="">Prefill from another data set
                        <i class="fa fa-question-circle tooltip-container">
                          <span class="tooltiptext">Enter the ID of an other data set.</span>
                        </i>
                      </label>
                    </div>
                    <input id="prefill" type="number" class="form-control" min="0">
                    <div><button id="prefill-button" class="btn btn-info">OK</button></div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  {% input_field main_form.related_data_sets inline=True %}
                </div>
                <div class="form-group col-md-6">
                  {{ main_form.fixed_reference }}
                  {% input_field main_form.select_reference %}
                </div>
                <div class="form-group col-md-6">
                  {% input_field main_form.select_system %}
                </div>
                <div class="form-group col-md-6">
                  {% input_field main_form.caption %}
                </div>
                <div class="form-group col-md-6">
                  {% input_field main_form.extraction_method %}
                </div>
                <div class="from-group col-md-4">
                  {% input_field main_form.primary_property %}
                </div>
                <div class="from-group col-md-2">
                  {% input_field main_form.primary_unit %}
                </div>
                <div class="from-group col-md-4">
                  {% input_field main_form.secondary_property %}
                </div>
                <div class="from-group col-md-2">
                  {% input_field main_form.secondary_unit %}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  {% input_field main_form.primary_property_label %}
                </div>
                <div class="form-group col-md-6">
                  {% input_field main_form.secondary_property_label %}
                </div>
              </div>
              <hr>
              <div class="form-check form-check-inline">
                {% input_field main_form.is_figure %}
              </div>
              <div class="form-check form-check-inline">
                {% input_field main_form.visible_to_public %}
              </div>
              <div class="form-check form-check-inline">
                {% input_field main_form.two_axes %}
              </div>
              <hr>
              <div class="form-row">
                <div class="col-md-6">
                  {% input_field main_form.origin_of_data %}
                </div>
                <div class="col-md-6">
                  {% input_field main_form.sample_type %}
                </div>
                <div class="col-md-6">
                  {% input_field main_form.dimensionality_of_the_inorganic_component %}
                </div>
              </div>
            </div>
          </div>

          <br>

          <!-- SYNTHESIS METHOD -->
          <div class="card card-item">
            <button class="btn text-left" data-toggle="collapse" type="button"
                    id="synthesis-button" data-target="#synthesis-body"
                    style="background:#dce9ff">
              Synthesis method (click to add)
            </button>
            {{ main_form.with_synthesis_details }}
            <div class="collapse" id="synthesis-body">
              <div class="card-body card-add-data">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    {% input_field main_form.starting_materials %}
                  </div>
                  <div class="form-group col-md-6">
                    {% input_field main_form.product %}
                  </div>
                </div>
                <div class="form-group">
                  {% input_field main_form.synthesis_description %}
                </div>
                <div class="form-group">
                  {% input_field main_form.synthesis_comment %}
                </div>
              </div>
            </div>
          </div>

          <br>

          <!-- EXPERIMENTAL DETAILS -->
          <div class="card card-item">
            <button class="btn text-left" data-toggle="collapse" type="button"
                    id="experimental-button" data-target="#experimental-body"
                    style="background:#dce9ff">
              Experimental details (click to add)
            </button>
            {{ main_form.with_experimental_details }}
            <div class="collapse" id="experimental-body">
              <div class="card-body card-add-data">
                <div class="form-group">
                  {% input_field main_form.experimental_method %}
                </div>
                <div class="form-group">
                  {% input_field main_form.experimental_description %}
                </div>
                <div class="form-group">
                  {% input_field main_form.experimental_comment %}
                </div>
              </div>
            </div>
          </div>

          <br>

          <!-- COMPUTATIONAL DETAILS -->
          <div class="card card-item">
            <button class="btn text-left" data-toggle="collapse" type="button"
                    id="computational-button" data-target="#computational-body"
                    style="background:#dce9ff">
              Computational details (click to add)
            </button>
            {{ main_form.with_computational_details }}
            <div class="collapse" id="computational-body">
              <div class="card-body card-add-data">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    {% input_field main_form.code %}
                  </div>
                  <div class="form-group col-md-6">
                    {% input_field main_form.level_of_theory %}
                  </div>
                  <div class="form-group col-md-6">
                    {% input_field main_form.xc_functional %}
                  </div>
                  <div class="form-group col-md-6">
                    {% input_field main_form.k_point_grid %}
                  </div>
                  <div class="form-group col-md-6">
                    {% input_field main_form.level_of_relativity %}
                  </div>
                  <div class="form-group col-md-6">
                    {% input_field main_form.basis_set_definition %}
                  </div>
                  <div class="form-group col-md-6">
                    {% input_field main_form.numerical_accuracy %}
                  </div>
                  <div class="form-group col-md-6">
                    {% input_field main_form.external_repositories %}
                  </div>
                </div>
                <div class="form-group">
                  {% input_field main_form.computational_comment %}
                </div>
              </div>
            </div>
          </div>

          <br>

          <!-- DATA -->
          <div class="card card-item">
            <div class="card-header">
              Data
            </div>
            <div class="card-body card-add-data">
              <div class="form-inline">
                <div class="form-group">
                  {{ main_form.number_of_subsets.label_tag }}
                  <span class="ml-2">{{ main_form.number_of_subsets.help_text|tooltip }}</span>
                  {{ main_form.number_of_subsets }}
                </div>
                <input type="file" id="import-all-data" class="inputfile">
                <label for="import-all-data"><i class="fa fa-upload" aria-hidden="true"></i>
                  Import all from file...</label>
                <i class="fa fa-question-circle tooltip-container ml-2">
                  <span class="tooltiptext">Select to import all data (all subsets) from a single file. Use the ampersand ("&") as a delimiter between different data subsets.</span>
                </i>
              </div>
              <div id="data-subset"></div>
            </div>
          </div>

          <br>

          <!-- ADDITIONAL DATA -->
          <div class="card card-item">
            <div class="card-header">
              Additional data
            </div>
            <div class="card-body card-add-data">
              {% input_field main_form.uploaded_files %}
            </div>
          </div>

          <br>

          {{ main_form.return_url }}
          {{ main_form.qresp_fetch_url }}
          {{ main_form.qresp_chart_nr }}
          <div class="float-right">
            <button type="submit" name="submit-results" class="btn btn-primary">
              Submit
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!-- data subset template -->
  <div class="data-subset-template d-none">
    <br>
    <div class="card card-subset">
      <div class="card-header"></div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <div class="form-row">
              <div class="form-group col-md-12">
                {% input_field main_form.crystal_system %}
                <div class="phase-transition-input" hidden="true">
                  {% input_field main_form.phase_transition_crystal_system_final %}
                </div>
              </div>
              <div class="col-md-7">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{ main_form.subset_label.label }}</span>
                  </div>
                  {{ main_form.subset_label }}
                  <i class="fa fa-question-circle fa-2x tooltip-container ml-2 mt-1">
                    <span class="tooltiptext">{{ main_form.subset_label.help_text }}</span>
                  </i>
                </div>
              </div>
              <div class="col-md-5">
                <button type="button" class="btn btn-info add-fixed-property mb-3">
                  Add fixed property
                </button>
                <i class="fa fa-question-circle fa-2x tooltip-container">
                  <span class="tooltiptext">Click to define a property that was fixed during the experiment or calculation. For example, if a series of band gaps was measured as a function of pressure and temperature was kept constant for the whole series, the temperature value may be inserted here.</span>
                </i>
              </div>
            </div>
            <div class="fixed-properties"></div>
          </div>
          <div class="col-md-4">
            {{ main_form.import_file_name }}
            <div class="normal-input">
              {{ main_form.subset_datapoints.label_tag }}
              {{ main_form.subset_datapoints.help_text|tooltip }}
              <div class="float-right">
                <input type="file" id="import-data-file" class="inputfile import-data-file">
                <label for="import-data-file"><i class="fa fa-upload" aria-hidden="true"></i>
                  Import from file...</label>
              </div>
              {{ main_form.subset_datapoints }}
            </div>
            <div class="atomic-structure-input" hidden="true">
              <div class="form-group">
                {{ main_form.lattice_constant_a.label_tag }}
                {{ main_form.lattice_constant_a.help_text|tooltip }}
                <div class="float-right">
                  <input type="file" id="import-lattice-parameters"
                         class="inputfile import-lattice-parameters">
                  <label for="import-lattice-parameters"><i class="fa fa-upload" aria-hidden="true"></i>
                    Import from file...</label>
                </div>
                <div class="input-group">
                  {{ main_form.lattice_constant_a }}
                  {{ main_form.lattice_constant_b }}
                  {{ main_form.lattice_constant_c }}
                </div>
              </div>
              <div class="form-group">
                {{ main_form.lattice_constant_alpha.label_tag }}
                <div class="input-group">
                  {{ main_form.lattice_constant_alpha }}
                  {{ main_form.lattice_constant_beta }}
                  {{ main_form.lattice_constant_gamma }}
                </div>
              </div>
              <div class="form-group">
                {% input_field main_form.atomic_coordinates %}
              </div>
              {{ main_form.geometry_format }}
            </div>
            <div class="phase-transition-input" hidden="true">
              <div class="form-row">
                <div class="form-group">
                  {% input_field main_form.phase_transition_space_group_initial %}
                </div>
                <div class="form-group">
                  {% input_field main_form.phase_transition_space_group_final %}
                </div>
                <div class="form-group">
                  {% input_field main_form.phase_transition_direction %}
                </div>
                <div class="form-group">
                  {% input_field main_form.phase_transition_hysteresis %}
                </div>
                <div class="form-group">
                  {% input_field main_form.phase_transition_value %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end template -->

  <!-- fixed property template -->
  <div class="form-row fixed-property-template d-none">
    <div class="col-md-4 mb-3">
      <label for="fixed_property">Property</label>
      <select id="fixed_property" name="fixed_property" placeholder="--select or add new--"></select>
    </div>
    <div class="col-md-4 mb-3">
      <label for="fixed_unit">Unit</label>
      <select id="fixed_unit" name="fixed_unit" placeholder="--select or add new--"></select>
    </div>
    <div class="col-md-4 mb-3">
      <label for="fixed_value">Fixed value</label>
      <div class="input-group">
        <input class="form-control" name="fixed_value" type="text" maxlength="50" required>
        <div class="input-group-append">
          <button class="close-fixed-property btn btn-danger fa fa-times" type="button" ></button>
        </div>
      </div>
    </div>
  </div>
  <!-- end template -->
{% endblock %}

{% block script %}
  {% load static %}
  <script src="{% static 'materials/javascript/selectize.js' %}"></script>
  <script>
   // Initial values for selectize elements
   let initial_reference = '{{ main_form.select_reference.value }}';
   let initial_system = '{{ main_form.select_system.value }}';
   let initial_primary_property = '{{ main_form.primary_property.value }}';
   let initial_primary_unit = '{{ main_form.primary_unit.value }}';
   let initial_secondary_property = '{{ main_form.secondary_property.value }}';
   let initial_secondary_unit = '{{ main_form.secondary_unit.value }}';
  </script>
  <script src="{% static 'materials/javascript/add_data.js' %}"></script>
  <script>
   // Prefill the data subsets from a previous instance of the form
   {% for name_counter, import_file_name, crystal_system, label, values in main_form.get_subset %}
   document.getElementById(
     'id_import_file_name_{{ name_counter }}').value = '{{ import_file_name|escapejs }}';
   document.getElementById(
     'id_crystal_system_{{ crystal_system }}_{{ name_counter }}').checked = true;
   document.getElementById(
     'id_subset_label_{{ name_counter }}').value = '{{ label|escapejs }}';
   document.getElementById(
     'id_subset_datapoints_{{ name_counter }}').value = '{{ values|escapejs }}';
   {% endfor %}
   // Prefill fixed properties from a previous instance of the form
   {% for subset_counter, name_counter, prop, unit, value in main_form.get_fixed_properties %}
   add_fixed_property({{ subset_counter }}, {{ name_counter }},
                      '{{ prop|escapejs }}', '{{ unit|escapejs }}', '{{ value|escapejs }}');
   {% endfor %}
  </script>
  <script>
   // Prefill atomic structure from a previous instance of the form
   {% for subset_counter, a, b, c, alpha, beta, gamma, coordinates, geometry_format in main_form.get_lattice_parameters %}
   $('#id_lattice_constant_a_{{ subset_counter }}').val('{{ a|escapejs }}');
   $('#id_lattice_constant_b_{{ subset_counter }}').val('{{ b|escapejs }}');
   $('#id_lattice_constant_c_{{ subset_counter }}').val('{{ c|escapejs }}');
   $('#id_lattice_constant_alpha_{{ subset_counter }}').val('{{ alpha|escapejs }}');
   $('#id_lattice_constant_beta_{{ subset_counter }}').val('{{ beta|escapejs }}');
   $('#id_lattice_constant_gamma_{{ subset_counter }}').val('{{ gamma|escapejs }}');
   $('#id_atomic_coordinates_{{ subset_counter }}').val('{{ coordinates|escapejs }}');
   $('#id_geometry_format_{{ subset_counter }}').val('{{ geometry_format|escapejs }}');
   {% endfor %}
  </script>
  <script>
   // Prefill from a previous instance of the form
   {% for subset_counter, cs_f, sg_i, sg_f, dir, hysteresis, value in main_form.get_phase_transitions %}
   document.getElementById('id_phase_transition_crystal_system_final_{{ cs_f }}_{{ subset_counter }}')
           .checked = true;
   $('#id_phase_transition_space_group_initial_{{ subset_counter }}').val('{{ sg_i|escapejs }}');
   $('#id_phase_transition_space_group_final_{{ subset_counter }}').val('{{ sg_f|escapejs }}');
   $('#id_phase_transition_direction_{{ subset_counter }}').val('{{ dir|escapejs }}');
   $('#id_phase_transition_hysteresis_{{ subset_counter }}').val('{{ hysteresis|escapejs }}');
   $('#id_phase_transition_value_{{ subset_counter }}').val('{{ value|escapejs }}');
   {% endfor %}
  </script>
{% endblock %}
